# Networking
alias flushdns='sudo dscacheutil -flushcache && sudo killall -HUP mDNSResponder && networksetup -setdnsservers Wi-Fi empty && echo "✌️ DNS flushed"'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Git
alias gs='git status'
alias gc='gitmoji -c'
alias ga='git add'
alias gp='git push'
